:root{
  --color1:red;
  --color2:blue;
  --bgcol1: black;
  --bgcol2:gray;
  --bgcol3:silver;
  --col_text:black;
  --col_text2:white;
  --col_info:rgb(116, 116, 235);
  --col_error:rgb(241, 73, 73);
  --col_success:rgb(66, 197, 66);
}
.bginfo{
  background-color: var(--col_info);
}
.col_text , .col1{
  color: var(--col_text);
}
.col_text2 , .col2{
  color: var(--col_text2);
}
.rbg{
  background-color: red;
}
.bg1{
  background: var(--bgcol1);
}
.bgcol1{
  background-color: var(--color2);
}
.bgerror{
background: var(--col_error);
} 
